/* Sticky Footer */

.footer {
  margin-top: auto; /* sticky footer */

  /* Just for fun */
  text-align: center;
  background-color: #b6b6b6;
  padding: 40px 0;

  // Tablet
  @media (max-width: 1199px) {
    padding: 30px 0;
  }

  // Mobile
  @media (max-width: 899px) {
    padding: 20px 0;
  }

  // Mobile XS
  @media (max-width: 599px) {
    padding: 10px 0;
  }
}

.footer-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;

  // Mobile
  @media (max-width: 899px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  // Mobile XS
  @media (max-width: 599px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-logo {
  width: 260px;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;

  // Tablet
  @media (max-width: 1199px) {
    width: 220px;
    row-gap: 10px;
  }

  // Mobile
  @media (max-width: 899px) {
    width: 450px;
    align-items: center;
  }

  // Mobile XS
  @media (max-width: 599px) {
    width: 100%;
    align-items: flex-start;
  }

  p {
    font-size: 14px;

    // Mobile XS
    @media (max-width: 599px) {
      font-size: 12px;
    }
  }
}

.footer-nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  // Mobile XS
  @media (max-width: 599px) {
  margin-top: 5px;
  }
}

.nav-footer {
  font-size: 26px;

  // Tablet
  @media (max-width: 1199px) {
    font-size: 20px;
  }

// Mobile
@media (max-width: 899px) {
  font-size: 18px;
  margin-bottom: 10px;
}

  // Mobile XS
  @media (max-width: 599px) {
    font-size: 11px;
  }
}

.nav-footer * + * {
  padding-left: 15px;

  // Tablet
  @media (max-width: 1199px) {
    padding-left: 10px;
  }
}

.footer--icon {
  // Mobile
  @media (max-width: 899px) {
    position: absolute;

    right: 0px;
    top: -9px;
  }

  // Mobile XS
  @media (max-width: 599px) {
    top: 3px;
  }
}

.nav-list--footer {
justify-content: start !important;
}
