.price {
}

.price-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-bottom: 4px solid $accent-color;

  // Tablet
  @media (max-width: 1199px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  // Mobile
  @media (max-width: 899px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  // Mobile XS
  @media (max-width: 599px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  p {
    margin-top: 30px;
    font-size: 26px;
    color: $gray-color;

    // Tablet
    @media (max-width: 1199px) {
      font-size: 22px;
    }

    // Mobile
    @media (max-width: 899px) {
      margin-top: 20px;
      font-size: 20px;
    }

    // Mobile XS
    @media (max-width: 599px) {
      margin-top: 10px;
      font-size: 12px;
    }
  }
}

.price-title {
  margin-bottom: 20px;
  background-color: $accent-color;
  color: $gray-color;
}

.price-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;

  // Tablet
  @media (max-width: 1199px) {
    row-gap: 30px;
  }

  // Mobile
  @media (max-width: 899px) {
    row-gap: 20px;
  }

  // Mobile XS
  @media (max-width: 599px) {
    row-gap: 10px;
  }
}

.price-tablet__list {
  height: 60.5px;
  width: 450px;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  border-spacing: 5px;
  background-color: $white-color;

  // Tablet
  @media (max-width: 1199px) {
    width: 400px;
  }

  // Mobile
  @media (max-width: 899px) {
    height: auto;
    width: 600px;
    font-size: 10px;
  }
}

th {
  padding: 10px;
  font-size: 24px;
  background-color: $background-color;
  color: $gray-color;

  // Mobile
  @media (max-width: 899px) {
    padding: 8px;
    font-size: 22px;
  }

  // Mobile XS
  @media (max-width: 599px) {
    padding: 5px;
    font-size: 16px;
  }
}

td {
  width: 150px;
  padding: 10px;
  font-size: 24px;

  // Mobile
  @media (max-width: 899px) {
    padding: 8px;
    font-size: 22px;
  }

  // Mobile XS
  @media (max-width: 599px) {
    padding: 5px;
    font-size: 16px;
  }
}

tr:nth-child(odd) {
  background-color: rgba(204, 204, 204, 0.288);
}
